/*For having universal selector not giving space in the page*/
* {
  margin: 0px;
  padding: 0pc;
}
/*for body background*/
.bgimage {
  background-image: url("website-parallax-background-C.jpg");
  background-size: 100% 110%; /*Hear this size will fit entire image which ever you download*/
  width: 100%;
  height: 100vh; /*vh - vertical height it will cover entire page*/
}

/*For menu */
.menu {
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.6);
}
/*for left side */
.leftmenu {
  width: 25%;
  line-height: 80px; /*it will set line height vertical top bottom left right */
  float: left;
}

.leftmenu h4 {
  padding-left: 70px;
  font-weight: bold;
  color: white;
  font-size: 22px;
  font-family: serif;
}
.rightmenu {
  float: right;
  color: white;
  width: 75%;
  height: 100px;
}

.rightmenu ul {
  margin-left: 200px;
}

.rightmenu ul li {
  font-family: "Montserrat", sans-serif;
  display: inline-block; /*This will come in single line*/
  list-style: none; /*this is right to declare because it will block list style like . number etc*/
  font-size: 15px;
  line-height: 80px;
  color: white;
  font-weight: bold;
  margin-left: 40px;
  text-transform: uppercase; /*This will change the text case from upper to lower vice versa*/
}

#firstlist {
  color: orange;
}
.rightmenu ul li:hover {
  color: orange;
}

.content {
  width: 100%;
  display: inline-block;
  margin-top: 185px;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.content h4 {
  font-size: 15px;
  font-family: sans-serif;
}
.content h1 {
  font-size: 60px;
  font-weight: 700px;
  margin: 14px;
}
.content h3{
    font-size: 12px;
    font-family: sans-serif;
}
#button1{
    background-color:white;
    border: none;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 40px;
    font-weight: bold;
    width: 150px;
    margin-top: 25px;
    border: 3px solid white;

}

#button2{
    background-color:transparent;
    border: none;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 40px;
    width: 150px;
    margin-top: 25px;
    border:3px solid white;
    background-color: #1d262d;

}